<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/register.css">
    <title>Chalk n' Books</title>
</head>
<body>
    <header>
        <div class="titulo"><p>Chalk n' Books</p></div>
    </header>
    <main>
        <div class="form-padre">
            <form class="formulario" action="/" method="get">
                <label for=""><input class="input-texts" type="text" name="fullname" placeholder="Nombre y Apellido"></label>
                <label for=""><input class="input-texts" type="text" name="username" placeholder="Nombre de usuario"></label>
                <label for=""><input class="input-texts" type="email" name="email" placeholder="Email"></label>
                <label for=""><input class="input-texts" type="password" name="password" placeholder="Contraseña"></label>
                <label for=""><input class="input-texts" type="password" name="copassword" placeholder="Confirmar Contraseña"></label>
                <label class="legals" for=""><input type="checkbox" name="terms">Acepto los <a class="link-term" href="https://www.youtube.com/watch?v=mCdA4bJAGGk">Terminos y condiciones</a> de Chalk n' Books</label>
                <div class="botones">
                <button class="boton" type="submit">Registrarse</button>
                <button class="boton" type="reset">Borrar</button>
            </form>
            </div>
            <div class ="login"><a href="/login">¿Ya tienes una Cuenta?</a></div>
        </div>
    </main>
</body>
</html>