@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

main {
    background-color: whitesmoke;
}

.portada {
    width: 20vw;
}

.producto {
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    margin: 5px;
    border-bottom: 1px solid grey;
}

.cantidad input{
    width: 30px;
}

.img-det {
    display: flex;
    width: 70vw;
}

.tit-det {
    font-size: 15px;
}

.descripcion {
    font-size: 12px;
}

.detalles {
    margin-left: 5px;
}

.right-det {
    display: flex;
}

.price {
    font-size: 15px;
}

.precio {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.cantidad {
    display: flex;
    padding: 5px;
    flex-direction: column;
}

.pricetot {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
}

.pricetot p {
    align-self: flex-end;
}

.seguir {
    border: none;
    border-radius: 20px;
    font-size: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 3px;
    background-color: grey;
    color:whitesmoke;
}

.comprar {
    border: none;
    border-radius: 20px;
    font-size: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 3px;
    background-color: grey;
    color:whitesmoke;
}