@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
body {
    background-image: url("/images/background-img.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}



.nav-bar-header {
    /** background-color: #c793e0; **/
    display:flex;
    flex-direction: row;
    height: 90px;
    padding: 5px 1% 5px 7%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
} 

.burger-menu {
    align-self: center;
    width: 30%;
    color:white;
}

.header .logo img {
    height: 65px;
    border-radius: 50%;
    margin-top: 10px;
}

.nav-tools {
    width: 30%;
}

.icon {
    color:whitesmoke;
}

.header .nav-tools ul {
    list-style: none;
    flex-direction: row;
    display: flex;
}

.header .nav-tools ul li {
    justify-content: space-between;
    padding: 15px;
    width: 30%
}


.buscar {
    /**background-color: #c793e0;**/
    text-align: center;
    padding: 3%;
}

.buscar i {
    background-color: white;
    margin: -30px;
}

.barra-busqueda {
    width: 70%;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    
}

.nav-bar a{
    color: white;
    text-decoration: none;
    font-size: 17px;
}


.nav-bar li {
    width: 25%;
    text-align: center;
    border: 1px solid white;
}

main {
    background-color: whitesmoke;
    width: 100%;
}

main h2 {
    margin: 5px 0 5px 5px;
}

main h3 {
  margin: 5px 0 5px 5px;
}

.banner {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid grey;
}

.contenido {
    width: 70vh;
    text-align: center;
}

.slider-left {

}

.slider-right {

}

.products {
    display: flex;
    padding: 10px 0;
}

.portada {
    width: 100px;
    height: 125px;
    padding: 5px;
}

section article {
    margin: auto;
    border-radius: 20px;
    border: 1px solid grey;
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 170px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

h4 {
    font-size: 15px;
    border-top: 1px solid;
    width: 100%;
    text-align: center;
    padding-top: 5px;
}

.top10 {
width: 100%;
box-shadow: none;
border-radius: 0;
border: 0px;
border-top: 1px dotted grey;
align-items: flex-start;
height: auto;
flex-direction: row;
font-size: 16px;
}

.top10-padre {
 margin-left: 5px;
 margin-right: 5px;
}

.top10 a {
    text-decoration: none;
    color: rgb(105, 105, 187);
    font-size: 16px;
}

.descripcion-top10 {
    font-size: 12px;
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    /**background-color: antiquewhite;**/
}

footer div ul li {
    display: flex;
    flex-direction: column;
    list-style: none;

}

footer div ul li a {
    text-decoration: none;
    font-size: 15px;
    color:whitesmoke;
    padding: 2%;
}

footer h2 {
    font-size: 20px;
    color:white;
}

.lista {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.sobre-nosotros, .ayuda, .medios, .contacto {
    padding: 3%;
}

.redes {
        height:80%;
}

.pagos {
     width: 100%;
     height: 110px;
     padding: 1%;
}

.legales p {
    font-size: 10px;
}

@media (min-width: 700px) {

.productos-padre {
    display: flex;
    justify-content: space-between;
}
.products {
    justify-content: space-between;
    width: 50vw;
}

section article {
    width: 22vw;
}

.descripcion-top10 {
    display: block;
}
}