@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
body{
    background-color: #e7e4f1;
}

.header{
    background-color: #d9cfde;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0;
}

.buscar {
    width: 20%;
}

.nav-bar {
    visibility: hidden;
}

.nav-tools ul {
    list-style: none;
    display: flex;
    width: 50%;
    }

.nav-tools ul li a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: flex-start;
}    