@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}



.imagen{
    width: 300px;
    height: 150px;
}

.promoImagen{
    display: flex;
    padding: 5px;
    justify-content: center;
}


main {
    background-color: whitesmoke;
    width: 100%;
}

main h2 {
    margin: 5px 0 5px 5px;
}

main h3 {
  margin: 5px 0 5px 5px;
}

.banner {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid grey;
}

.contenido {
    width: 70vh;
    text-align: center;
}

.slider-left {

}

.slider-right {

}

.products {
    display: flex;
    padding: 10px 0;
}

.portada {
    width: 100px;
    height: 125px;
    padding: 5px;
}

.test{
    margin-left: auto;
}
section article {
    margin: auto;
    border-radius: 20px;
    border: 1px solid grey;
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 170px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

h4 {
    font-size: 15px;
    border-top: 1px solid;
    width: 100%;
    text-align: center;
    padding-top: 5px;
}

.top10 {
width: 100%;
box-shadow: none;
border-radius: 0;
border: 0px;
border-top: 1px dotted grey;
align-items: flex-start;
height: auto;
flex-direction: row;
font-size: 16px;
}


.top10-padre {
 margin-left: 5px;
 margin-right: 5px;
}

.top10 a {
    text-decoration: none;
    color: rgb(105, 105, 187);
    font-size: 16px;
}

.descripcion-top10 {
    font-size: 12px;
    display: none;
}

.bannercitos{
    
}



/* .lista {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
} */



@media(min-width: 360px){

}

@media (min-width: 700px) {

    .contenedor{
        display: flex;
    }
    
    section{
        width: 50%;
    }

   
  
    .bannercitos{
        display: block;
    }

    .ofertas {
        width:50%;
    }

    .productos-padre {
    display: flex;
    justify-content: space-between;
}
    .products {
    justify-content: space-between;
    width: 50vw;
}

    section article {
    width: 22vw;
}

    .descripcion-top10 {
    display: block;
}
}

@media(min-width: 1024px){

    .descripcion-top10{
        font-size: 13px;
    }
}