<footer>

    <div class="lista">

        <ul class="sobre-nosotros">
            <h2>Sobre nosotros</h2>
            <li><a href="#">Linkedin</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">a</a></li>
        </ul>

        <ul class="ayuda">
            <h2>Ayuda</h2>
            <li><a href="#">Preguntas Frecuentes</a></li>
            <li><a href="#">Envíos</a></li>
            <li><a href="#">Promociones</a></li>
            <li><a href="#">Cancelaciones</a></li>
            <li><a href="#">Devoluciones</a></li>
        </ul>

        <ul class="medios">
            <h2>Medios de pago</h2>
            <div class="seguir">
                <i class="icored fa-brands fa-cc-visa"></i>
                <i class="icored fa-brands fa-cc-mastercard"></i>
                <i class="icored fa-brands fa-cc-paypal"></i>
            </div>
        </ul>

        <ul class="follow">
            <h2>Nuestras Redes</h2>
            <div class="seguir">
                <i class="icored fb fa-brands fa-facebook"></i>
                <i class="icored fa-brands fa-instagram"></i>
                <i class="icored fa-brands fa-twitter"></i>
            </div>
        </ul>
    </div>

    <div class="legales">
        <p>©Copyright todos los derechos reservados</p>
    </div>

</footer>