    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/partials.css">
    <link href="https://fonts.cdnfonts.com/css/mv-boli" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/099943ce49.js" crossorigin="anonymous"></script>
    <title>ChalkAndBooks</title>