<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/editContra.css">

</head>

<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <div class="maindiv">
            <div class="logo">
                <img src="/images/chalkLogo.png" alt="">
            </div>
            <h1>Cambiar Contraseña</h1>
            <div class="formdiv">
                <form action="" method="post">
                    <div>
                        <label for="Coan">Contraseña Antigua</label>
                        <input type="password" name="" id="Coan">
                    </div>
                    <div class="newP">
                        <label for="password">Nueva Contraseña</label>
                        <input type="password" name="" id="password">
                        <label for="coPass">Confirmar Contraseña</label>
                        <input type="password" name="coPass" id="coPass">
                    </div>
                    <input type="submit" value="Cambiar Contraseña">
                    <button href="/">Cancelar</button>
                </form>
            </div>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>

</html>