<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="/css/listUser.css">
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <div class="maindiv">
            <div class="logo-tit">
                <div>
                <img src="/images/chalkLogo.png" alt="">
                </div>
                <h1>Lista de Usuarios</h1>
            </div>
            <div class="lista-user">
                <ul>
                    <li>
                        <img src="/images/avatar/default.png" alt="">
                        <p>Email</p>
                        <p>Nombre y Apellido</p>
                        <p>Rol</p>
                        <div class="icons">
                            <i class="fa-solid fa-key"></i>
                            <i class="fa-solid fa-gear"></i>
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </li>
                    <li>
                        <img src="/images/avatar/default.png" alt="">
                        <p>Email</p>
                        <p>Nombre y Apellido</p>
                        <p>Rol</p>
                        <div class="icons">
                            <i class="fa-solid fa-key"></i>
                            <i class="fa-solid fa-gear"></i>
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </li>
                    <li>
                        <img src="/images/avatar/default.png" alt="">
                        <p>Email</p>
                        <p>Nombre y Apellido</p>
                        <p>Rol</p>
                        <div class="icons">
                            <i class="fa-solid fa-key"></i>
                            <i class="fa-solid fa-gear"></i>
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>