<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/register.css">
    <title>Chalk n' Books</title>
    <header>
        <div class="titulo"><p>Chalk n' Books</p></div>
    </header>
    <main>
        <div class="form-padre">
            <form class="formulario" action="/user/login" method="POST">
                <label for=""><input class="input-texts" type="text" name="email" placeholder="Email"></label>
                <% if (locals.errors && errors.email) { %>
                    <div class="error">
                    <p><%= errors.email.msg %> </p>
                    </div>
                <% } %>
                <label for=""><input class="input-texts" type="password" name="password" placeholder="Contraseña"></label>
                <label class="remember" for=""><input type="checkbox" name="remember">Recordar usuario</label>
                <div class="botones">
                <button class="boton" type="submit">Ingresar</button>
            </form>
            </div>
            <div class ="login"><a href="/user/register">¿No tienes una Cuenta?</a></div>
        </div>
    </main>
</head>
<body>
    
</body>
</html>